// глобальные цвета

// темная тема
$dark_background_color: #262626;
$dark_color: #fff;
$dark_border: #fcc9c9;
// светлая тема
$light_background_color: #e7e7e7;
$light_color: #151515;
$light_border: #151515;

// общие настройки
$transition: all linear 0.1s;



/* цветовая схема контента */
.dark {
    background-color: $dark_background_color;
    color: $dark_color;
    border: 0 solid $dark_border;
    transition: $transition;

}

.light {
    background-color: $light_background_color;
    color: $light_color;
    border: 0 solid $light_border;
    transition: $transition;
}

// убираем стандартное поведение автозаполнения input
.dark:-webkit-autofill,
.dark:-webkit-autofill:hover, 
.dark:-webkit-autofill:focus, 
.dark:-webkit-autofill:active {
    box-shadow: 0 0 0 50px $dark_background_color inset !important;
    -webkit-text-fill-color: $dark_color !important;
} 
// убираем стандартное поведение автозаполнения input
.light:-webkit-autofill,
.light:-webkit-autofill:hover, 
.light:-webkit-autofill:focus, 
.light:-webkit-autofill:active{
    box-shadow: 0 0 0 50px $light_background_color inset !important;
    -webkit-text-fill-color: $light_color !important;
}