// цвета для окошка запроса тех поддержки

// темная тема
$dark_background_color: #494949;
$dark_color: #fff;
$dark_border: #fff;
// светлая тема
$light_background_color: #f3f3f3;
$light_color: #151515;
$light_border: #151515;

// общие настройки
$transition: all linear 0.1s;



.form-dark {
    color: $dark_color;
    background-color: $dark_background_color;
    border: 0 solid $dark_border;
    transition: $transition;

    // убираем стандартное поведение автозаполнения input
    :-webkit-autofill,
    :-webkit-autofill:hover, 
    :-webkit-autofill:focus, 
    :-webkit-autofill:active {
        box-shadow: 0 0 0 50px $dark_background_color inset !important;
        -webkit-text-fill-color: $dark_color !important;
    } 

    ::placeholder {
        color: $dark_color;
    }

    ::after {
        color: $dark_color;
    }
}

.form-light {
    color: $light_color;
    background-color: $light_background_color;
    border: 0 solid $light_border;
    transition: $transition;

    // убираем стандартное поведение автозаполнения input
    :-webkit-autofill,
    :-webkit-autofill:hover, 
    :-webkit-autofill:focus, 
    :-webkit-autofill:active {
        box-shadow: 0 0 0 50px $light_background_color inset !important;
        -webkit-text-fill-color: $light_color !important;
    }
    ::placeholder {
        color: $light_color;
    }

    ::after {
        color: $light_color;
    }
}
