/* styles for navigation menu and logIn logOut btns */
.headerBtn {
    display: flex;
    align-items: center;
    padding: 0 15px;
    background-color: #000;
    color: #ccc;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s linear, color 0.2s linear;
    font-size: 16px;
}

.headerBtn:hover {
    background-color: #1890ff;
    color: #fff;
}
/***************************************************/